html { overflow-y: scroll; }

.headerDivDash{
    font-size: 40px;
    text-align: center;
    background: blue;
    height: 90px;
    padding-top: 35px;
    color: white;
    /* altering the default font */
    /* https://www.w3schools.com/css/tryit.asp?filename=trycss_font-family */
    font-family: "Lucida Console", "Courier New", monospace;
}

body{
    background-color: lightgray;
}

.textDiv{
    margin: 50px auto;
    background-color: white;
    border-color: blue;
    border-style:solid;
    border-width: thick;
    width: 1100px;
    
}

.pText{
    margin: 10px auto; 
    /* altering the default font */
    /* https://www.w3schools.com/css/tryit.asp?filename=trycss_font-family */
    font-family: "Lucida Console", "Courier New", monospace;
}

@media screen and (min-width: 100px) and (max-width: 199px)
{
    .textDiv{
        width: 250px;
    }
}

@media screen and (min-width: 200px) and (max-width: 299px)
{
    .textDiv{
        width: 350px;
    } 
}