 /* added styling to the buttons */
  button {
    background-color: #69b3a2;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    border-radius: 2px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 1s;
    align-items: left;
  }

  button:hover {
    background-color: black;
  }

  #my_dataviz {
    margin:50px auto;
    width: 1350px;
    background-color: white;
    border-color: blue;
    border-style:solid;
    border-width: thick;
  }

  .clubTooltip {
    display: none;
    width: 250px;
    left:0;
    top: 0; 
  }