#dashboard {
     width:1060px;
    margin:50px auto;
    border-color: green;
    border-style:solid;
    border-width: thick;
    background-color: white;
}
  
.pieChartPath {  stroke: #fff; }
path:hover {  opacity:0.9; }
.rectBi:hover {  fill:lightgreen; }
