
 .tableLine {
    visibility: hidden;
    position: absolute;
    top: 220px;
    left: 800px;
    font-family: sans-serif;
    font-size: 0.7em;
  }

  tr:nth-child(even) {
    background-color: #d9d9d9;
  }

.lineContainer{
    width: 700px;
}

.dashboard3{
    margin: 50px auto;
}

#selectButton{
    width: 200px;
    height: 50px;
}

.brush:hover {  fill:none; }